<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3b145e60-90cd-4bda-aff0-d0f3b64bce82/resourceGroups/solita-dev-academy-2023/providers/Microsoft.Web/sites/solita-dev-academy-2023-server</ResourceId>
    <ResourceGroup>solita-dev-academy-2023</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://solita-dev-academy-2023-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bc638c32-0974-4f36-b641-e07ee3aca4dc</ProjectGuid>
    <PublishUrl>https://solita-dev-academy-2023-server.scm.azurewebsites.net/</PublishUrl>
    <UserName>$solita-dev-academy-2023-server</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>